.ProjectItem {
  display: inline-block;
  width: 150px;
  height: 180px;
  text-align: center;

  &.active {
    .circle {
      svg {
        display: inline-block;
      }
      .dummy {
        width: 134px;
        height: 134px;
      }
      .thumbnail {
        width: 134px;
        height: 134px;
        &:hover {
          width: 114px;
          height: 114px;
        }
      }
    }
    .title {
      opacity: 1;
      transition: all 1s;
    }
  }

  .circle {
    position: relative;
    width: 150px;
    height: 150px;

    svg {
      display: none;
      width: 150px;
      height: 150px;

      .svg-circle {
        display: none;
        fill: none;
        stroke: #7E7E7E;
        stroke-width: 3;
        stroke-miterlimit: 10;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 12s linear forwards;
        animation-delay: 1.5s;
      }
  
      @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
    .dummy {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      border: 3px solid #C7C7C7;
      transform: translate(-50%, -50%);
      transition: all .5s;
      z-index: -10;
    }
    .thumbnail {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background-image: url('/images/thumb_dummy.png');
      background-size: 23px;
      transform: translate(-50%, -50%);
      transition: all .5s;
      cursor: pointer;
      box-shadow: 6px 6px 8px 0px rgba(94, 94, 94, 0.1);
    }
  }
  .title {
    position: absolute;
    right: -5px;
    opacity: 0;
    transition: all 1s;
    h4 {
      width: 160px;
      margin: 10px 0 6px 0;
    }
    .name {
      margin-right: -3px;
      span {
        padding: 0 2px;
        font-size: 0.8rem;
      }
    }
    
  }
}