.ContentText {
  .titles {
    h1 {
      padding-bottom: 1rem;
    }
    span {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
  .desc {
    padding: 3rem 0;
    p {
      padding-top: 1.2rem;
    }
  }
}